{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "airbnb"],
  "plugins": ["prettier", "jest"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "rules": {
        "template-curly-spacing": ["error", "always"],
        "prettier/prettier": 0,
        "semi": 0,
        "arrow-parens": ["error", "as-needed"],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    }
  ]
}
